/*Initialization space*/
/*--------------------------------------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Accessory classes*/
/*--------------------------------------------------------------------------------------------------------------------*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.btn {
    border-radius: 4px;
}

.btn:last-child {
    margin-right: 0;
}

.horizontal-line {
    width: 47px;
    height: 5px;
}

.section-header {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
}

.section-description {
    font-family: HelveticaNeue, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 14px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header contacts*/
/*--------------------------------------------------------------------------------------------------------------------*/
.main-header {
    margin-bottom: 38px;
}

.main-header__contacts {
    margin: 0 auto 42px;
    width: 1400px;
    background-color: #f0f2f4;
    box-shadow: 0 1px 0 0 #e2e2e2;
    text-align: right;
}

.main-header__contacts-items {
    padding-top: 7px;
    padding-bottom: 9px;
    display: inline-flex;
    align-items: center;
}

.main-header__contacts-items-text {
    font-family: Helvetica, serif;
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    margin-left: 11px;
}

.main-header__contacts-items-phone {
    display: flex;
    align-items: center;
    margin-right: 17px;
    padding-top: 3px;
}

.main-header__contacts-items-vertical-line {
    border: 1px solid #dfdfdf;
    height: 20px;
    margin-right: 20px;
}

.main-header__contacts-items-email {
    display: flex;
    align-items: center;
    margin-right: 12px;
    padding-top: 3px;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header Navbar*/
/*--------------------------------------------------------------------------------------------------------------------*/
.main-header__navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__navbar-logo {
    font-family: Helvetica, sans-serif;
    margin-right: 295px;
}

.main-header__navbar-logo-header {
    color: #424242;
    font-size: 37px;
    font-weight: 700;
    float: right;
}

.main-header__navbar-logo-description {
    color: #424242;
    font-size: 15px;
    font-weight: 400;
}

.main-header__navbar-elements__menu {
    margin-right: 32px;
    list-style: disc outside;
}

.main-header__navbar-elements__menu:first-child {
    list-style-type: none;
}

.main-header__navbar-elements__menu-option {
    display: inline-block;
    padding-right: 10px;
}

.main-header__navbar-elements__menu-option:last-child {
    padding-right: 0;
}

.main-header__navbar-elements__menu-option-link {
    text-decoration: none;
    font-family: HelveticaNeue, serif;
    color: #424242;
    font-size: 15px;
    font-weight: 700;
}

.main-header__navbar-elements__menu-option-link:hover,
.main-header__navbar-elements__menu-option-link:focus {
    color: #de2b24;
}

.main-header__navbar-elements__btn-red {
    display: inline-block;
}

.main-header__navbar-elements__btn-red-link {
    background-color: #de2b24;
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    font-family: HelveticaNeue, serif;
    letter-spacing: 2px;
}

.main-header__navbar-elements__btn-red-link:hover {
    background-color: #fa6e66;
    transition: .5s;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-banner'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-banner {
    text-align: center;
    background-image: url(../img/section-banner/bg-section-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 169px;
    padding-bottom: 261px;
    margin-bottom: 102px;
}

.section-banner__header {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    font-size: 47px;
    font-weight: 900;
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.section-banner__description {
    font-family: HelveticaNeue, sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 300;
    margin-bottom: 57px;
    letter-spacing: 1px;
}

.section-banner__btn {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: #f8cd53;
    padding: 21px 40px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
}

.section-banner__btn:hover {
    background-color: #fff177;
    transition: .5s;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-our-services'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-our-services {
    margin-bottom: 143px;
    text-align: center;
}

.section-our-services__container {
    width: 921px;
    margin: 0 auto;
}

.section-our-services__header {
    color: #424242;
}

.section-our-services__description {
    color: #424242;
}

.horizontal-line-black {
    background-color: #424242;
    margin-bottom: 46px;
}

.section-our-services__services {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-align: -webkit-center;
}

.section-our-services__services-item {
    width: 26%;
}

.section-our-services__services-item__header {
    font-family: Helvetica, sans-serif;
    color: #424242;
    font-size: 22px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 14px;
}

.section-our-services__services-item__description {
    font-family: OpenSans, sans-serif;
    color: #5c5c5c;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-our-work'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-our-work {
    background-color: #de2b24;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 131px;
}

.section-our-work__header {
    color: #ffffff;
    margin-bottom: 10px;
}

.section-our-work__description {
    color: #ffffff;
    margin-bottom: 17px;
}

.horizontal-line-white {
    background-color: #ffffff;
    margin-bottom: 47px;
}

.section-our-work__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: -webkit-center;
}

.section-our-work__features-item-square {
    background-color: #f35e59;
    width: 255px;
    height: 253px;
    font-family: HelveticaNeue, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding-top: 65px;
}

.section-our-work__features-item-img {
    width: 255px;
    height: 253px;
}

.section-our-work__features-item__header {
    font-family: HelveticaNeue, sans-serif;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
}

.section-our-work__features-item__description {
    font-family: HelveticaNeue, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-newsletter'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-newsletter {
    padding-top: 90px;
    padding-bottom: 84px;
    background-color: #2a2a2a;
    text-align: center;
}

.section-newsletter__container {
    width: 683px;
    margin: 0 auto;
}

.section-newsletter__header {
    font-family: HelveticaNeue, sans-serif;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
}

.section-newsletter__social {
    display: inline-block;
    margin-bottom: 36px;
}

.section-newsletter__description {
    font-family: OpenSans, sans-serif;
    color: #cecece;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 31px;
}

.section-newsletter__form {
}

.section-newsletter__form-email {
    border-radius: 1px;
    background-color: #515151;
    width: 683px;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 20px;
    border: none;
    margin-bottom: 27px;
}

.section-newsletter__form-button {
    background-color: #2a2a2a;
    padding: 15px 25px;
    border-radius: 1px;
    border: 2px solid #515151;
    background-color:  rgba(243, 243, 243, 0);
    font-family: Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
}

.section-newsletter__form-button:hover {

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-newsletter'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.main-footer {
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: #515151;
}

.main-footer__header {
    text-align: center;
    font-family: OpenSans, sans-serif;
    color: #cecece;
    font-size: 14px;
    font-weight: 400;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Sprites*/
/*--------------------------------------------------------------------------------------------------------------------*/
.sprite {
    background-image: url(../img/sprites/icons-spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-arrow {
    width: 36px;
    height: 37px;
    background-position: -5px -5px;
}

.sprite-icon-fasebook {
    width: 11px;
    height: 22px;
    background-position: -51px -5px;
}

.sprite-icon-fasebook-bg {
    width: 26px;
    height: 26px;
    background-position: -72px -5px;
}

.sprite-icon-g-plus {
    width: 20px;
    height: 22px;
    background-position: -108px -5px;
}

.sprite-icon-in {
    width: 21px;
    height: 19px;
    background-position: -138px -5px;
}

.sprite-icon-logo {
    width: 74px;
    height: 49px;
    background-position: -108px -37px;
    float: left;
}

.sprite-icon-mail {
    width: 20px;
    height: 16px;
    background-position: -5px -96px;
}

.sprite-icon-management {
    width: 84px;
    height: 81px;
    background-position: -35px -96px;
}

.sprite-icon-marketing {
    width: 83px;
    height: 79px;
    background-position: -192px -5px;
}

.sprite-icon-pages {
    width: 67px;
    height: 79px;
    background-position: -192px -94px;
}

.sprite-icon-phone {
    width: 11px;
    height: 17px;
    background-position: -169px -5px;
}

.sprite-icon-twitter {
    width: 21px;
    height: 19px;
    background-position: -129px -183px;
}

/*--------------------------------------------------------------------------------------------------------------------*/


/*Fonts*/
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.otf);
}

@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
}
/*--------------------------------------------------------------------------------------------------------------------*/