/*Initialization space*/
/*--------------------------------------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Accessory classes*/
/*--------------------------------------------------------------------------------------------------------------------*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.btn {
    display: inline-block;
    border-radius: 4px;
}

.btn:last-child {
    margin-right: 0;
}

.container {
    width: 1021px;
    /*margin: 0 auto;*/
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header contacts*/
/*--------------------------------------------------------------------------------------------------------------------*/
.main-header__contacts {
    width: 1400px;
    /*margin: 0 auto;*/
    background-color: #f0f2f4;
    box-shadow: 0 1px 0 0 #e2e2e2;
    text-align: right;
}

.main-header__contacts-items {
    margin-right: 188px;
    padding-top: 7px;
    padding-bottom: 9px;
    display: inline-flex;
    align-items: center;
}

.main-header__contacts-items-text {
    font-family: Helvetica, serif;
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    margin-left: 11px;
}

.main-header__contacts-items-phone {
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.main-header__contacts-items-vertical-line {
    border: 1px solid #dfdfdf;
    height: 20px;
    margin-right: 20px;
}

.main-header__contacts-items-email {
    display: flex;
    align-items: center;
    margin-right: 12px;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header Navbar*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Sprites*/
/*--------------------------------------------------------------------------------------------------------------------*/
.sprite {
    background-image: url(../img/sprites/icons-spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-arrow {
    width: 36px;
    height: 37px;
    background-position: -5px -5px;
}

.sprite-icon-fasebook {
    width: 11px;
    height: 22px;
    background-position: -51px -5px;
}

.sprite-icon-fasebook-bg {
    width: 26px;
    height: 26px;
    background-position: -72px -5px;
}

.sprite-icon-g-plus {
    width: 20px;
    height: 22px;
    background-position: -108px -5px;
}

.sprite-icon-in {
    width: 21px;
    height: 19px;
    background-position: -138px -5px;
}

.sprite-icon-logo {
    width: 74px;
    height: 49px;
    background-position: -108px -37px;
}

.sprite-icon-mail {
    width: 20px;
    height: 16px;
    background-position: -5px -96px;
}

.sprite-icon-management {
    width: 84px;
    height: 81px;
    background-position: -35px -96px;
}

.sprite-icon-marketing {
    width: 83px;
    height: 79px;
    background-position: -192px -5px;
}

.sprite-icon-pages {
    width: 67px;
    height: 79px;
    background-position: -192px -94px;
}

.sprite-icon-phone {
    width: 11px;
    height: 17px;
    background-position: -169px -5px;
}

.sprite-icon-twitter {
    width: 21px;
    height: 19px;
    background-position: -129px -183px;
}

/*--------------------------------------------------------------------------------------------------------------------*/


/*Fonts*/
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.otf);
}
/*--------------------------------------------------------------------------------------------------------------------*/